
.responsive-image {
    max-width: 100%;
    height: auto;
}

.image-container {
    width: 100%;
    max-width: 600px; /* Adjust this value as needed */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #57aa51;
}

.image-container {
    width: 100%;
    max-width: 400px; /* Adjust this value to make the image smaller */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

